# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
dist/

# Cloudflare
.wrangler/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Secrets
*.secret.json
client_secrets.json

# download
download/

# mise
.mise.toml
