# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
dist/

# Cloudflare
.wrangler/

# IDE
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store

# Secrets
*.secret.json
client_secrets.json

# download
download/

# mise
.mise.toml

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints/*

# Auth Pickle
token.pickle

